NODE_ENV=development
PORT=5001
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/growexi?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
EMAIL_USER=vishanthlynn60@gmail.com
EMAIL_PASS=Lynn#$54321
CLIENT_URL=http://localhost:3000
TWILIO_API_KEY=your_twilio_api_key
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number
